* Overview: Purpose of this notebook is to analyze the sample data downloaded from the Subsalt portal and to understand the data structure and the features. There are some findings being shared in this notebook.

In [1]:
# load json file into pandas dataframe
import pandas as pd
import json

json_data = open("../data/sample_data.json").read()
data = json.loads(json_data)
df = pd.DataFrame(data)
df.head()

,metadata,schema,genconfig,privacy,quality
0,"{'runtime_end': '2024-10-11T08:29:46.965707', ...","[{'name': 'repository_created_at', 'type': 'da...","{'type': 'SubsaltTVAE', 'epochs': '3000', 'lea...","[{'name': 'Minimum row count', 'threshold': 30...",[]
1,"{'runtime_end': '2024-10-11T08:29:47.403551', ...","[{'name': 'repository_created_at', 'type': 'da...","{'type': 'SubsaltTVAE', 'epochs': '3000', 'lea...","[{'name': 'Minimum row count', 'threshold': 30...",[]
2,"{'runtime_end': '2024-10-11T08:29:48.014113', ...","[{'name': 'repository_created_at', 'type': 'da...","{'type': 'SubsaltCopulaGAN', 'epochs': '3000',...","[{'name': 'Minimum row count', 'threshold': 30...",[]
3,"{'runtime_end': '2024-10-11T08:29:48.817046', ...","[{'name': 'repository_created_at', 'type': 'da...","{'type': 'SubsaltCopulaGAN', 'epochs': '3000',...","[{'name': 'Minimum row count', 'threshold': 30...",[]
4,"{'runtime_end': '2024-10-11T08:29:49.488118', ...","[{'name': 'repository_created_at', 'type': 'da...","{'type': 'SubsaltCTGAN', 'epochs': '3000', 'le...","[{'name': 'Minimum row count', 'threshold': 30...",[]

* We are able to see four categories of data in the given dataset: `metadata`, `schema`, `genconfig`, `privacy`. And the `quality` being empty is expected according to our focus.

In [2]:
# expand column of dictionaries into separate columns
df = pd.concat(
    [df.drop(["genconfig"], axis=1), df["genconfig"].apply(pd.Series)], axis=1
)
df.head()

,metadata,schema,privacy,quality,type,epochs,learning_rate,batch_size
0,"{'runtime_end': '2024-10-11T08:29:46.965707', ...","[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltTVAE,3000,0.0002,50000
1,"{'runtime_end': '2024-10-11T08:29:47.403551', ...","[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltTVAE,3000,0.0002,50000
2,"{'runtime_end': '2024-10-11T08:29:48.014113', ...","[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCopulaGAN,3000,0.0002,50000
3,"{'runtime_end': '2024-10-11T08:29:48.817046', ...","[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCopulaGAN,3000,0.0002,50000
4,"{'runtime_end': '2024-10-11T08:29:49.488118', ...","[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCTGAN,3000,0.0002,50000

* We can see `type`, `epoches`, `learning_rate`, `batch_size` in the `genconfig` data. These are the hyperparameters used in the training of the model.

In [3]:
df = pd.concat([df.drop(["metadata"], axis=1), df["metadata"].apply(pd.Series)], axis=1)
df.head()

,schema,privacy,quality,type,epochs,learning_rate,batch_size,runtime_end,row_count,product_version
0,"[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltTVAE,3000,0.0002,50000,2024-10-11T08:29:46.965707,6000,v0.25.0
1,"[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltTVAE,3000,0.0002,50000,2024-10-11T08:29:47.403551,6000,v0.25.0
2,"[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCopulaGAN,3000,0.0002,50000,2024-10-11T08:29:48.014113,6000,v0.25.0
3,"[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCopulaGAN,3000,0.0002,50000,2024-10-11T08:29:48.817046,6000,v0.25.0
4,"[{'name': 'repository_created_at', 'type': 'da...","[{'name': 'Minimum row count', 'threshold': 30...",[],SubsaltCTGAN,3000,0.0002,50000,2024-10-11T08:29:49.488118,6000,v0.25.0

* We can see `runtime_end`, `row_count`, `product_version` in the `metadata` data. These are the metadata information of the dataset.

In [4]:
# concantenate all df["schema"] into a single dataframe
df_schema = pd.concat([pd.DataFrame(df["schema"][i]) for i in range(len(df["schema"]))])
df_schema.sample(10)

,name,type,indirect_identifier,direct_identifier,null_ratio,unique_values,min_value,max_value
6,birth_year,integer,False,False,0.0,79,1918.0,2002.0
13,student_performance_StudentPerformanceFactors_...,string,False,False,-1.0,3,-1.0,-1.0
1,loan_type_name,string,False,False,0.0,4,-1.0,-1.0
6,applicant_ethnicity,integer,False,False,0.0,4,1.0,4.0
5,credit_swipes_credit_card_sample_gender,string,False,False,-1.0,2,-1.0,-1.0
10,__subsalt_idx,integer,False,False,-1.0,-1,-1.0,-1.0
16,student_performance_StudentPerformanceFactors_...,string,False,False,-1.0,4,-1.0,-1.0
1,month,integer,False,False,0.0,12,1.0,12.0
6,birth_year,integer,False,False,0.0,79,1918.0,2002.0
12,num_credit_cards,integer,False,False,0.0,9,1.0,9.0

* We can see `name`, `type`, `indirect_identifier`, `direct_identifier`,`null_ratio`, `unique_values`,`min_value`,`max_value` in the `schema` data. These are the schema information of the dataset.

In [5]:
df_schema.describe()

       null_ratio  unique_values     min_value     max_value
count  566.000000     566.000000    566.000000  5.660000e+02
mean    -0.499831     660.892226    701.589399  8.362574e+04
std      0.500612    3043.550440   4749.330988  3.534971e+05
min     -1.000000      -1.000000   -100.000000 -1.000000e+00
25%     -1.000000       4.000000     -1.000000 -1.000000e+00
50%     -0.500000      28.000000      0.000000  9.500000e+00
75%      0.000000     311.000000      1.000000  1.895450e+03
max      0.004920   48559.000000  37900.000000  2.039789e+06

**Question #1:** We can see -1 in the `null_ratio` and `unique_values` columns in the `schema` data. This is does not see a valid value for both columns. Was there a logic if the value is not available, it is set to -1? If not, we need to check the data and see if there is a problem in the data.

In [6]:
df_schema.info()

<class 'pandas.core.frame.DataFrame'>
Index: 566 entries, 0 to 14
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 566 non-null    object
 1   type                 566 non-null    object
 2   indirect_identifier  566 non-null    bool
 3   direct_identifier    566 non-null    bool
 4   null_ratio           566 non-null    float64
 5   unique_values        566 non-null    int64
 6   min_value            566 non-null    float64
 7   max_value            566 non-null    float64
dtypes: bool(2), float64(3), int64(1), object(2)
memory usage: 32.1+ KB

In [7]:
# concantenate all df["privacy"] into a single dataframe
df_privacy = pd.concat(
    [pd.DataFrame(df["privacy"][i]) for i in range(len(df["privacy"]))]
)
df_privacy

,name,threshold,score,passed
0,Minimum row count,3000.00,0,True
1,Check distance distributions between real and ...,0.05,0,True
2,Risky row counts,57.00,0,True
3,No new categorical values,0.00,0,True
4,Membership inference,0.55,0,True
...,...,...,...,...
2,Membership inference,0.55,0,True
3,Risky row counts,4001.29,0,True
4,No new categorical values,0.00,0,True
5,Row memorization,0.05,0,True
6,Attribute inference,0.10,0,True

In [8]:
df_privacy["name"].unique()

array(['Minimum row count',
       'Check distance distributions between real and synthetic',
       'Risky row counts', 'No new categorical values',
       'Membership inference', 'Row memorization', 'Attribute inference'],
      dtype=object)

**Question #2:** Those 7 privacy test names do not fully match with those 5 listed in the google document. Is there a way to map them to the list in google document?

In [9]:
df_privacy[df_privacy["passed"] == False].value_counts()

name                                                     threshold  score  passed
Risky row counts                                         57.00      0      False     5
Check distance distributions between real and synthetic  0.05       0      False     4
Risky row counts                                         237.50     0      False     3
Row memorization                                         0.05       0      False     2
Name: count, dtype: int64

**Question #3:** The privacy tests that fail are `Risky row counts`, `Check distance distributions between real and synthetic` and `Row memorization`. 
* There scores are blow the threshold but still fail the test, which is not alighed with our understanding. Can you help to check the logic behind this?
* It seem for different dataset the threhold for `Risky row counts` is different. Can you help to check the logic behind this?

In [10]:
df_privacy[df_privacy["passed"] == True].value_counts()

name                                                     threshold  score  passed
Attribute inference                                      0.10       0      True      49
Membership inference                                     0.55       0      True      49
Minimum row count                                        3000.00    0      True      49
No new categorical values                                0.00       0      True      49
Row memorization                                         0.05       0      True      47
Check distance distributions between real and synthetic  0.05       0      True      45
Risky row counts                                         47.50      0      True      12
                                                         57.00      0      True      12
                                                         237.50     0      True       6
                                                         62.76      0      True       5
                                                         4001.29    0      True       4
                                                         1868.76    0      True       2
Name: count, dtype: int64

* Above are the privacy tests that succedded. Their scores are not greater then the threshold, which are aligned with our understanding. 
  
**Question #4:** In above cases, those passed tests of `Risky row counts` and `Check distance distributions between real and synthetic` and `Row memorization` have scores lower than the threshold but they passed. Compared to Question #3, they don't seem following the same logic. Can you help to check the logic behind this?

In [11]:
df_schema["indirect_identifier"].value_counts()

indirect_identifier
False    566
Name: count, dtype: int64

**Question#5**: We are only able to see `indirect_identifier` being false, there is no `direct_identifier` being true. Can you help to check if this is the expected behavior?